
#atom-num {
    font-size: 45px;
    font-weight: 600;
    margin: 10px auto;
}

#atom-sym {
    font-size: 100px;
    margin: 10px auto;
}

.card {
    border: 5px solid #444;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0 auto;
    max-width: 300px;
}

.element-limit {
    margin: 0 auto;
    width: 350px;
}

.flashcard {
    margin: 15px auto;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.guess-button {
    margin: 10px auto;
}

.guess-form {
    font-size: 20px;
    padding: 5px;
    width: 175px;
}

.guess-form-symbol {
    font-size: 100px;
    width: 187px;
}

h3 {
    font-size: 22px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px auto;
    width: 310px;
}

#nav-quiz {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 400px;
}

.nav-quiz-link {
    color: #444;
    margin: 0 0 15px 0;
    text-decoration: none;
}

#number-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 300px;
}

.reset {
    margin: 0 auto;
}

/* Center Placeholder Text */

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
}

:-ms-input-placeholder {  
    text-align: center; 
}